<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selamat Datang di Hikmah Verse</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Hikmah Verse</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/list-surah">Al-Qur'an</a></li>
                <li><a href="/jadwal-sholat">Jadwal Sholat</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Selamat Datang di Hikmah Verse</h2>
        <p>Silakan pilih menu di atas untuk melanjutkan.</p>
        <!-- Tambahkan tombol support -->
        <div style="margin-top: 20px;">
            <a href="https://saweria.co/urdemonlord" target="_blank">
                <button style="padding: 10px 20px; background-color: #0C8848; color: white; border: none; cursor: pointer; font-size: 16px; border-radius: 5px;">
                    Support Kami di Saweria
                </button>
            </a>
        </div>
    </main>
    <footer>
        <!-- Hak cipta dipusatkan -->
        <p style="text-align: center; margin-top: 50px;">&copy; 2024 Hikmah Verse. Semua hak dilindungi.</p>
    </footer>
</body>
</html>
